body {
    padding: 0;
}

html.map-layout {
    &, body, #map {
        height: 100%;
        overflow: hidden;
    }
    // @todo hotfix to show the navbar on the bottom for maps
    .navbar {
        position: fixed;
        bottom: 0;
        left: 0;
        right: 0;
        margin: 0;
    }
}

.map-gtav {
    background-color: $map-gtav-atlas;
}

.leaflet-control-container ul { // temp
    margin: 0;
    padding: 0;
    list-style: none;
}