// Variables
@import "variables";

// Vendor
@import "node_modules/bootstrap-sass/assets/stylesheets/bootstrap";
@import "node_modules/leaflet/dist/leaflet";

// 8===o
body {
    padding: 0;
    margin: 0;
}
html, body, #map {
    height: 100%;
    overflow: hidden;
}

.leaflet-container {
	background-color: #0fa8d2;
}
